@import "variables";

.button {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font:
    normal Tahoma,
    arial,
    sans-serif;
  cursor: pointer;
  box-sizing: border-box;

  &:active {
    transform: scale(1.02);
  }

  &--primary {
    color: $white;
    background-color: $blue-light;

    &:hover {
      background-color: rgba($color: $blue-light, $alpha: 0.8);
    }
  }

  &--secondary {
    color: $black;
    background-color: $grayish-blue;
  }

  &--outlined {
    color: $blue-light;
    background-color: $white;
    border: 1px solid $blue-light;
    box-sizing: border-box;
  }

  &--danger {
    color: $white;
    background-color: $thunderbird;
    border: 1px solid $thunderbird;
  }

  &--small {
    font-size: 12px;
    padding: 6px 12px;
  }

  &--medium {
    font-size: 18px;
  }

  &--large {
    font-size: 24px;
  }

  &:disabled {
    background-color: $gray-text;
    color: $white;
    pointer-events: none;
    user-select: none;
  }
}
