$black: #000000;
$pink: #ffefe5;
$gray-text: #8d8d8d;
$gray-light: #ededee;
$gray-light2: #e6e6e6;
$white: #ffffff;
$grayish-blue: #dfe5ef;
$mystic: #ebeef4;
$silver: #bababa;
$border-silver: rgba(186, 186, 186, 0.99);
$limeade: #7ab800;
$rolling-stone: #747678;
$bahia: #8fce12;
$mustard: #ffd050;
$burnt-sienna: #ed5449;
$dusty-gray: #999;
$mercury: #e8e8e8;
$pewter: #e4e4e4;
$athens-gray: #f8f9fa;
$blue-light: #009fda;
