<div class="dashboard">
  <div class="dashboard__header">
    <span class="dashboard__title">A simple to do list to manage it all</span>
    <span class="dashboard__subtitle">
      Welcome to TodoList. Easily manage your personal tasks!
    </span>
  </div>
  <div class="dashboard__login-showcase">
    <payme-button (click)="login()">
      Get Started. It's FREE ->
    </payme-button>
    <div class="dashboard__img-thumbnail">
      <img
        class="dashboard__img-content"
        src="/assets/images/todo-list.jpg"
        alt="todo-list image"
        width="400"
      />
    </div>
  </div>
</div>
